modules = ["dotnet-8", "dotnet-8.0"]

[nix]
channel = "stable-24_05"
packages = [
  "dotnet-sdk",
  "icu",
  "openssl",
  "zlib"
]

[env]
ASPNETCORE_URLS = "http://0.0.0.0:5000"

[deployment]
deploymentTarget = "autoscale"
run = ["dotnet", "run", "--configuration", "Release", "--no-restore", "--urls=http://0.0.0.0:5000"]

[workflows]
runButton = "Aplicação C#"

[[workflows.workflow]]
name = "Start application"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet restore"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet build -c Release"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run --configuration Release --no-restore --urls=http://0.0.0.0:5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

